a{
    margin: 0.2em;
}

th{
    background-color: cadetblue;
    color: black;
    padding: 0.2em;
    text-align: center;
}

tr{
    background-color: lightblue;
    color: black;
    padding: 0.2em;
    text-align: center;
}