<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <link rel="icon" th:href="@{/images/magazijn.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="wrapper">
    <div id="navBar">
        <a href="/genres">Genres</a>
    </div>
    <h1>Genres</h1>
    <div id="genreList">
        <a th:href="@{'/genres/' + *{id()}}" th:each="Genre:${genreList}" th:object="${Genre}" th:text="${Genre.naam()}"></a>
    </div>
    <div id="filmWrapper" th:if="${filmList}">
        <h2 th:text="${genreNaam}"></h2>
        <a th:href="@{'/film/' + ${Film.id()}}" th:each="Film:${filmList}" th:object="${Film}"><img th:src="@{'/images/' + ${Film.id()} +  '.jpg'}"></a>
    </div>
</div>
</body>
</html>